html, body {
    font-family: "Poppins-Regular", sans-serif !important;
    width: 500px;
    height: 800px;
  }

h1 {
  font-family: 'Poppins-Black', sans-serif !important;
}

.btn {
  font-family: "Poppins-Regular", sans-serif !important;
}

.bg-custom-blue {
  background-color: #2176FF !important;
}

