html, body {
    font-family: "Poppins-Regular", sans-serif !important;
    width: 500px;
    height: 800px;
  }

h1 {
  font-family: 'Poppins-Black', sans-serif !important;
}

.btn {
  font-family: "Poppins-Regular", sans-serif !important;
}

.bg-custom-blue {
  background-color: rgb(34, 105, 181) !important;
}

.bg-custom-button-color {
  background-color: #009dff !important;
  color: #9a9a9a;
}

.trackDisplay, .carrierDisplay, .etaDisplay, .statusDisplay {
  font-family: 'Poppins-SemiBold', sans-serif !important;
}

.message-success {
  color: rgb(65, 255, 65);
}
.message-error {
  color: rgb(246, 33, 33);
}
.message-warning {
  color: rgb(255, 220, 92);
}
.message-normal {
  color: rgb(255, 255, 255);
}



/* #2176FF */
