html, body {
    font-family: "Poppins-Regular", sans-serif !important;
    width: 525px;
    height: 800px;
  }

h1 {
  font-family: 'Poppins-Black', sans-serif !important;
}

.btn {
  font-family: "Poppins-Regular", sans-serif !important;
}

.bg-custom-blue {
  background-color: rgb(34, 105, 181) !important;
}

.bg-custom-button-color {
  background-color: #009dff !important;
  color: #9a9a9a;
}

.trackDisplay, .carrierDisplay, .etaDisplay, .statusDisplay {
  font-family: 'Poppins-SemiBold', sans-serif !important;
}

.message-success {
  color: rgb(65, 255, 65);
}
.message-error {
  color: rgb(246, 33, 33);
}
.message-warning {
  color: rgb(255, 220, 92);
}
.message-normal {
  color: rgb(255, 255, 255);
}


.custom-margin-right {
  margin-right: 10px !important; 
}


/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
  width: 10px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color:  rgb(34, 105, 181);
  border-radius: 12px;
  border: 2px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}


/* #2176FF */
